@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Establecer colores custom */
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    min-height: 100vh;
    background-color: var(--Light-gray);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
}

.qr-section {
    background-color: var(--White);
    /* grid-area: qr; */
    width: auto;
    height: auto;
    padding: 1rem;
    display: flex;
    place-items: center;
    flex-flow: column;
    border-radius: 5%;
    text-align: center;
    gap: 1rem;
}
.qr-div {
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}


.qr-picture{
    border-radius: 5%;
    height: 15rem;
    width: 15rem;
}

p{
    color: var(--Grayish-blue);
}

